USE [master]
GO
/****** Объект:  Database [CollegeManager]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
CREATE DATABASE [CollegeManager]
GO
USE [CollegeManager]
GO
/****** Объект:  Table [dbo].[AcademicSheets]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicSheets](
	[SheetID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NULL,
	[SheetName] [nvarchar](100) NULL,
	[GeneratedBy] [int] NULL,
	[GenerationDate] [date] NULL,
	[SheetData] [nvarchar](max) NULL,
	[FilePath] [nvarchar](500) NULL,
 CONSTRAINT [PK_AcademicSheets] PRIMARY KEY CLUSTERED 
(
	[SheetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[AssignmentComments]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CommentText] [nvarchar](500) NOT NULL,
	[CommentDate] [date] NULL,
 CONSTRAINT [PK_AssignmentComments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Assignments]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[ModuleID] [int] NULL,
	[AssignmentName] [nvarchar](100) NOT NULL,
	[AssignmentDescription] [nvarchar](500) NULL,
	[AssignedTo] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[Weight] [nvarchar](50) NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ChatParticipants]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatParticipants](
	[ChatParticipantID] [int] IDENTITY(1,1) NOT NULL,
	[ChatID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatParticipantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Chats]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[ChatID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsGroup] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CourseMembers]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMembers](
	[CourseMemberID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseRoleID] [int] NOT NULL,
	[AssignedDate] [date] NULL,
 CONSTRAINT [PK_CourseMembers] PRIMARY KEY CLUSTERED 
(
	[CourseMemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CourseResources]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseResources](
	[ResourceID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[ResourceName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NULL,
	[Cost] [decimal](10, 2) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_CourseResources] PRIMARY KEY CLUSTERED 
(
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[CourseRoles]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseRoles](
	[CourseRoleID] [int] IDENTITY(1,1) NOT NULL,
	[CourseRoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CourseRoles] PRIMARY KEY CLUSTERED 
(
	[CourseRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Courses]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [date] NOT NULL,
	[Deadline] [date] NOT NULL,
	[ControlForm] [nvarchar](50) NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Messages]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ChatID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Notifications]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[RelatedEntityID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Statuses]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[StudyModules]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyModules](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[ModuleDescription] [nvarchar](500) NULL,
	[ModuleNumber] [int] NOT NULL,
	[PlannedStartDate] [date] NULL,
	[PlannedEndDate] [date] NULL,
	[ActualStartDate] [date] NULL,
	[ActualEndDate] [date] NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_StudyModules] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[UserRoles]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 29.05.2026 4:22:28 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicSheets] ON 

INSERT [dbo].[AcademicSheets] ([SheetID], [CourseID], [SheetName], [GeneratedBy], [GenerationDate], [SheetData], [FilePath]) VALUES (1, 1, N'Экзаменационная ведомость №102-МДК', 1, CAST(N'2026-12-25' AS Date), N'ИСП-21: Михеев К.А. (5), Нуриева А.Р. (5), Сидоров А.В. (4)', N'/sheets/2026/mdk_01_01.xlsx')
INSERT [dbo].[AcademicSheets] ([SheetID], [CourseID], [SheetName], [GeneratedBy], [GenerationDate], [SheetData], [FilePath]) VALUES (2, 2, N'Аттестационный лист за 1-й рейтинг', 5, CAST(N'2026-10-15' AS Date), N'Успеваемость по базам данных за октябрь. Средний балл группы: 4.1', N'/sheets/2026/db_rating1.xlsx')
INSERT [dbo].[AcademicSheets] ([SheetID], [CourseID], [SheetName], [GeneratedBy], [GenerationDate], [SheetData], [FilePath]) VALUES (3, 3, N'Зачетная ведомость промежуточного контроля', 1, CAST(N'2026-12-20' AS Date), N'Результаты тестирования по теории компьютерных сетей', N'/sheets/2026/networks_zachet.xlsx')
SET IDENTITY_INSERT [dbo].[AcademicSheets] OFF
GO
SET IDENTITY_INSERT [dbo].[AssignmentComments] ON 

INSERT [dbo].[AssignmentComments] ([CommentID], [AssignmentID], [UserID], [CommentText], [CommentDate]) VALUES (1, 1, 1, N'Прекрасно реализована проверка регулярных выражений. Зачтено.', CAST(N'2026-09-15' AS Date))
INSERT [dbo].[AssignmentComments] ([CommentID], [AssignmentID], [UserID], [CommentText], [CommentDate]) VALUES (2, 2, 2, N'Не получается правильно привязать TextBox к свойству ViewModel, кнопка остается заблокированной.', CAST(N'2026-11-02' AS Date))
INSERT [dbo].[AssignmentComments] ([CommentID], [AssignmentID], [UserID], [CommentText], [CommentDate]) VALUES (3, 3, 4, N'Схему прикрепил, нормализовал до третьей формы.', CAST(N'2026-09-28' AS Date))
SET IDENTITY_INSERT [dbo].[AssignmentComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentID], [CourseID], [ModuleID], [AssignmentName], [AssignmentDescription], [AssignedTo], [CreatedBy], [Weight], [StatusID]) VALUES (1, 1, 1, N'Лабораторная работа №1 "Создание и инкапсуляция классов"', N'Спроектировать класс Пользователь с валидацией пароля', 2, 1, N'5 баллов', 4)
INSERT [dbo].[Assignments] ([AssignmentID], [CourseID], [ModuleID], [AssignmentName], [AssignmentDescription], [AssignedTo], [CreatedBy], [Weight], [StatusID]) VALUES (2, 1, 2, N'Практическая работа №2 "Разметка интерфейса в XAML"', N'Создать форму авторизации WPF с адаптивной сеткой Grid', 2, 1, N'10 баллов', 2)
INSERT [dbo].[Assignments] ([AssignmentID], [CourseID], [ModuleID], [AssignmentName], [AssignmentDescription], [AssignedTo], [CreatedBy], [Weight], [StatusID]) VALUES (3, 2, 3, N'Лабораторная работа №1 "Проектирование ERD-схемы"', N'Разработать схему БД "Деканат" в нотации Crow''s Foot', 4, 5, N'10 баллов', 3)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatParticipants] ON 

INSERT [dbo].[ChatParticipants] ([ChatParticipantID], [ChatID], [UserID]) VALUES (1, 1, 1)
INSERT [dbo].[ChatParticipants] ([ChatParticipantID], [ChatID], [UserID]) VALUES (2, 1, 2)
INSERT [dbo].[ChatParticipants] ([ChatParticipantID], [ChatID], [UserID]) VALUES (3, 2, 5)
SET IDENTITY_INSERT [dbo].[ChatParticipants] OFF
GO
SET IDENTITY_INSERT [dbo].[Chats] ON 

INSERT [dbo].[Chats] ([ChatID], [Name], [IsGroup], [CreatedAt]) VALUES (1, N'Группа ИСП-21 (Разработка модулей)', 1, CAST(N'2026-09-01T08:00:00.000' AS DateTime))
INSERT [dbo].[Chats] ([ChatID], [Name], [IsGroup], [CreatedAt]) VALUES (2, N'Беседа: Вопросы по базам данных (Кузнецова Е.Н.)', 1, CAST(N'2026-09-02T14:30:15.000' AS DateTime))
INSERT [dbo].[Chats] ([ChatID], [Name], [IsGroup], [CreatedAt]) VALUES (3, N'Учебная часть: Старосты отделений программирования', 1, CAST(N'2026-09-01T09:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chats] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseMembers] ON 

INSERT [dbo].[CourseMembers] ([CourseMemberID], [CourseID], [UserID], [CourseRoleID], [AssignedDate]) VALUES (1, 1, 1, 1, CAST(N'2026-08-30' AS Date))
INSERT [dbo].[CourseMembers] ([CourseMemberID], [CourseID], [UserID], [CourseRoleID], [AssignedDate]) VALUES (2, 1, 2, 4, CAST(N'2026-09-01' AS Date))
INSERT [dbo].[CourseMembers] ([CourseMemberID], [CourseID], [UserID], [CourseRoleID], [AssignedDate]) VALUES (3, 2, 5, 1, CAST(N'2026-08-30' AS Date))
SET IDENTITY_INSERT [dbo].[CourseMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseResources] ON 

INSERT [dbo].[CourseResources] ([ResourceID], [CourseID], [ResourceName], [Quantity], [Cost], [Description]) VALUES (1, 1, N'Лаборатория программирования (Ауд. 304)', 15, CAST(95000.00 AS Decimal(10, 2)), N'Компьютерные места с установленной средой Visual Studio 2022')
INSERT [dbo].[CourseResources] ([ResourceID], [CourseID], [ResourceName], [Quantity], [Cost], [Description]) VALUES (2, 1, N'Методические указания к курсовому проектированию', 30, CAST(150.00 AS Decimal(10, 2)), N'Печатные руководства по оформлению программной документации')
INSERT [dbo].[CourseResources] ([ResourceID], [CourseID], [ResourceName], [Quantity], [Cost], [Description]) VALUES (3, 2, N'Локальный сервер MS SQL Server', 1, CAST(210000.00 AS Decimal(10, 2)), N'Серверное оборудование для хостинга учебных студенческих БД')
SET IDENTITY_INSERT [dbo].[CourseResources] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseRoles] ON 

INSERT [dbo].[CourseRoles] ([CourseRoleID], [CourseRoleName]) VALUES (1, N'Ведущий преподаватель')
INSERT [dbo].[CourseRoles] ([CourseRoleID], [CourseRoleName]) VALUES (2, N'Ассистент кафедры')
INSERT [dbo].[CourseRoles] ([CourseRoleID], [CourseRoleName]) VALUES (3, N'Студент-слушатель')
SET IDENTITY_INSERT [dbo].[CourseRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [StartDate], [Deadline], [ControlForm], [StatusID]) VALUES (1, N'МДК 01.01 Разработка программных модулей (ИСП-21)', N'Разработка WPF-приложений с использованием паттерна MVVM и Entity Framework', CAST(N'2026-09-01' AS Date), CAST(N'2027-06-20' AS Date), N'Экзамен', 2)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [StartDate], [Deadline], [ControlForm], [StatusID]) VALUES (2, N'Проектирование баз данных (ИСП-22)', N'Проектирование реляционных БД, написание T-SQL скриптов', CAST(N'2026-09-01' AS Date), CAST(N'2027-02-15' AS Date), N'Диф. зачет', 2)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [StartDate], [Deadline], [ControlForm], [StatusID]) VALUES (3, N'Компьютерные сети (ССА-31)', N'Маршрутизация и коммутация в корпоративных сетях', CAST(N'2026-10-01' AS Date), CAST(N'2027-05-20' AS Date), N'Зачет', 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [ChatID], [SenderID], [MessageText], [SentAt], [IsRead]) VALUES (1, 1, 1, N'Здравствуйте! Завтра лабораторная работа переносится в 304 аудиторию.', CAST(N'2026-09-14T18:20:00.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([MessageID], [ChatID], [SenderID], [MessageText], [SentAt], [IsRead]) VALUES (2, 1, 2, N'Принято, передам всей группе в локальный чат.', CAST(N'2026-09-14T18:25:12.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([MessageID], [ChatID], [SenderID], [MessageText], [SentAt], [IsRead]) VALUES (3, 2, 5, N'Напоминаю, что дедлайн по сдаче ERD диаграмм завтра до конца дня.', CAST(N'2026-10-10T09:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [CreatedAt], [IsRead], [RelatedEntityID]) VALUES (1, 1, N'Новая работа на проверке', N'Студент Нуриева А.Р. отправила на проверку "Практическая работа №2"', N'AssignmentSubmitted', CAST(N'2026-11-14T21:05:00.000' AS DateTime), 0, 2)
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [CreatedAt], [IsRead], [RelatedEntityID]) VALUES (2, 2, N'Задание возвращено на доработку', N'Преподаватель Михеев К.А. вернул ЛР №2 со статусом "На доработке"', N'AssignmentStatusChanged', CAST(N'2026-11-21T10:15:30.000' AS DateTime), 0, 5)
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [CreatedAt], [IsRead], [RelatedEntityID]) VALUES (3, 4, N'Новое задание опубликовано', N'Преподаватель Кузнецова Е.Н. добавила работу "SELECT запросы"', N'NewAssignment', CAST(N'2026-10-02T12:00:00.000' AS DateTime), 1, 4)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (1, N'Выдано / Запланировано')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (2, N'В процессе выполнения')
INSERT [dbo].[Statuses] ([StatusID], [StatusName]) VALUES (3, N'На проверке у преподавателя')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[StudyModules] ON 

INSERT [dbo].[StudyModules] ([ModuleID], [CourseID], [ModuleName], [ModuleDescription], [ModuleNumber], [PlannedStartDate], [PlannedEndDate], [ActualStartDate], [ActualEndDate], [StatusID]) VALUES (1, 1, N'Раздел 1. Введение в ООП на C#', N'Классы, объекты, интерфейсы, наследование', 1, CAST(N'2026-09-01' AS Date), CAST(N'2026-10-15' AS Date), CAST(N'2026-09-01' AS Date), CAST(N'2026-10-14' AS Date), 2)
INSERT [dbo].[StudyModules] ([ModuleID], [CourseID], [ModuleName], [ModuleDescription], [ModuleNumber], [PlannedStartDate], [PlannedEndDate], [ActualStartDate], [ActualEndDate], [StatusID]) VALUES (2, 1, N'Раздел 2. Интерфейсы WPF и базы данных', N'Разметка XAML, привязка данных (Binding), интеграция с EF Core', 2, CAST(N'2026-10-16' AS Date), CAST(N'2026-12-20' AS Date), CAST(N'2026-10-16' AS Date), NULL, 2)
INSERT [dbo].[StudyModules] ([ModuleID], [CourseID], [ModuleName], [ModuleDescription], [ModuleNumber], [PlannedStartDate], [PlannedEndDate], [ActualStartDate], [ActualEndDate], [StatusID]) VALUES (3, 2, N'Раздел 1. Проектирование схемы ERD', N'Концептуальное и логическое проектирование, нормализация до 3НФ', 1, CAST(N'2026-09-01' AS Date), CAST(N'2026-10-01' AS Date), CAST(N'2026-09-01' AS Date), CAST(N'2026-09-30' AS Date), 4)
SET IDENTITY_INSERT [dbo].[StudyModules] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName]) VALUES (2, N'Преподаватель')
INSERT [dbo].[UserRoles] ([RoleID], [RoleName]) VALUES (3, N'Студент')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Surname], [FirstName], [LastName], [Email], [RoleID], [Login], [Password]) VALUES (1, N'Михеев', N'Владимир', N'Александрович', N'kirill@apt.ru', 2, N'teacher_kirill', N'Pass123!')
INSERT [dbo].[Users] ([UserID], [Surname], [FirstName], [LastName], [Email], [RoleID], [Login], [Password]) VALUES (2, N'Иванова', N'Алина', N'Рамилевна', N'alina@apt.ru', 3, N'student_alina', N'StudWpf456!')
INSERT [dbo].[Users] ([UserID], [Surname], [FirstName], [LastName], [Email], [RoleID], [Login], [Password]) VALUES (3, N'Петров', N'Петр', N'Петрович', N'admin@apt.ru', 1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AcademicSheets]  WITH CHECK ADD  CONSTRAINT [FK_AcademicSheets_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AcademicSheets] CHECK CONSTRAINT [FK_AcademicSheets_Courses]
GO
ALTER TABLE [dbo].[AcademicSheets]  WITH CHECK ADD  CONSTRAINT [FK_AcademicSheets_Users] FOREIGN KEY([GeneratedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AcademicSheets] CHECK CONSTRAINT [FK_AcademicSheets_Users]
GO
ALTER TABLE [dbo].[AssignmentComments]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentComments_Assignments] FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[Assignments] ([AssignmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignmentComments] CHECK CONSTRAINT [FK_AssignmentComments_Assignments]
GO
ALTER TABLE [dbo].[AssignmentComments]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentComments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssignmentComments] CHECK CONSTRAINT [FK_AssignmentComments_Users]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Courses]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Statuses]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_StudyModules] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[StudyModules] ([ModuleID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_StudyModules]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Users_By] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Users_By]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Users_To] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Users_To]
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD  CONSTRAINT [FK_ChatParticipants_Chats] FOREIGN KEY([ChatID])
REFERENCES [dbo].[Chats] ([ChatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatParticipants] CHECK CONSTRAINT [FK_ChatParticipants_Chats]
GO
ALTER TABLE [dbo].[ChatParticipants]  WITH CHECK ADD  CONSTRAINT [FK_ChatParticipants_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ChatParticipants] CHECK CONSTRAINT [FK_ChatParticipants_Users]
GO
ALTER TABLE [dbo].[CourseMembers]  WITH CHECK ADD  CONSTRAINT [FK_CourseMembers_CourseRoles] FOREIGN KEY([CourseRoleID])
REFERENCES [dbo].[CourseRoles] ([CourseRoleID])
GO
ALTER TABLE [dbo].[CourseMembers] CHECK CONSTRAINT [FK_CourseMembers_CourseRoles]
GO
ALTER TABLE [dbo].[CourseMembers]  WITH CHECK ADD  CONSTRAINT [FK_CourseMembers_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseMembers] CHECK CONSTRAINT [FK_CourseMembers_Courses]
GO
ALTER TABLE [dbo].[CourseMembers]  WITH CHECK ADD  CONSTRAINT [FK_CourseMembers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CourseMembers] CHECK CONSTRAINT [FK_CourseMembers_Users]
GO
ALTER TABLE [dbo].[CourseResources]  WITH CHECK ADD  CONSTRAINT [FK_CourseResources_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseResources] CHECK CONSTRAINT [FK_CourseResources_Courses]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Statuses]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Chats] FOREIGN KEY([ChatID])
REFERENCES [dbo].[Chats] ([ChatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Chats]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[StudyModules]  WITH CHECK ADD  CONSTRAINT [FK_StudyModules_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudyModules] CHECK CONSTRAINT [FK_StudyModules_Courses]
GO
ALTER TABLE [dbo].[StudyModules]  WITH CHECK ADD  CONSTRAINT [FK_StudyModules_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[StudyModules] CHECK CONSTRAINT [FK_StudyModules_Statuses]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
USE [master]
GO
